.app {
  display:flex;

  

}


.navbar{
  width:12%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
 background-color: aqua;
}
.content {
  flex:1;
  overflow: auto;
 background-color: brown;

}
